{
  "name": "Your Name",
  "photo_url": "https://link-to-your-photo.jpg",
  "chapter": "",
  "social_media": [
    {
      "website":   "",
      "github":    "",
      "linkedin":  "",
      "mastodon":  "",
      "bluesky":   "",
      "instagram": "",
      "youtube":   "",
      "twitter":   ""
    }
  ]
}
